.card {
    padding: 10px;
    max-width: 300px;
    min-width: 300px;
    margin: 10px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    border-radius: 10px;
    justify-content: space-between;
    color: black;
    text-decoration: none;
    position: relative;
}

.card-btn {
    border: 1px solid lightgrey;
    border-radius: 10px;
    background-color: transparent;
    width: 25px;
    position: absolute;
    right: 10px;
}

.card-btn:hover {
    color: plum;
    cursor: pointer;
}

.card-title {
    font-size: 25px;
    padding: 0;
    margin: 0 30px 0 0;
}

.card-title:hover {
    color: plum;
}
