body {
  margin: 0;
  margin-top: 50px;
  font-family: "Arial";
}

a {
  color: black;
  text-decoration: none;
}

.container-title {
  padding: 20px 0;
  text-align: center;
  margin: 0;
  background: -webkit-linear-gradient(0, purple, cyan);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}